

/*.category-matcher,*/
.category-filter,
.category-matches {
  position: relative;
}
.category-filter {
  margin: 20px 0;
}

.category-filter ul,
.category-matches ul {
  clear: both;
  display: inline-block;
  position: relative;
}
.category-filter li,
.category-matches li {
  float: left;
  position: relative;
}
.category-matches li {
  width: 100px;
  height: 100px;
}
.category-matches img {
  position: absolute;
  left: 0;
  top: 0;
  height: auto;
  width: 100%;
}


.category-filter {
  position: relative;
}
.category-filter label > span {
  z-index: 1;
  position: relative;
  margin-right: 2px;
  padding: 3px 4px 5px 4px;
  border-radius: 0;
  border: 2px outset #55acee;
  background-color: #61BBFF;
  font-size: 14px;
}
.category-filter label > input[type="radio"],
.category-filter label > input[type="checkbox"] {/*
  z-index: 0;*/
  position: absolute;
  left: 0;
  width: 1px;
  height: 1px;
  bottom: 0;
}
.category-filter label > input[type="radio"]:checked + span,
.category-filter label > input[type="checkbox"]:checked + span {
  border-style: inset;
}


.category-matches li > :not(img) {
  display: none;
}
.category-matches li:hover {
  outline: 1px solid #333;
}
.category-matches li:hover > h4 {
  display: block;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 5px 0;
  color: #333;
  font-size: 14px;
  background-color: rgba(255, 255, 255, .7);
  outline: 1px solid #333;
  text-indent: 3px;
  overflow: hidden;
}
.category-matches li:hover > dl {
  display: block;
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
}


.match-details {
  z-index: 1;
  position: fixed;
  left: 255%;
  bottom: 12%;
  background: rgba(255, 255, 255, .8);
  margin-left: -185%;
  padding: 10px;
}
.match-details h3,
.match-details h4 {
  margin: 5px;
}
